*~

Makefile
Makefile.in

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*

.dnt.db
aclocal.m4
autom4te.cache
config.log
config.status

/configure
/configure.ac

/tools/autotools/install-sh
/tools/autotools/missing

/tools/maint/fetch
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/tools/maint/whitespace-detect

/tools/libs/awk/lib.awk
/tools/libs/perl/lib.pl
/tools/libs/sh/lib.sh

/tools/scripts/bootcheck
/tools/scripts/bootcheck.sh
/tools/scripts/grub1-config
/tools/scripts/grub1-config.sh
/tools/scripts/grub2-config
/tools/scripts/grub2-config.sh
/tools/scripts/mkiso-grub1
/tools/scripts/mkiso-grub1.sh
/tools/scripts/mkiso-grub2
/tools/scripts/mkiso-grub2.sh

/image.iso
