*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/tools/maint/fetch
/tools/maint/wordwrap-detect
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/.releases
/tools/maint/releases-to-news

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex

/tools/libs/awk/lib.awk
/tools/libs/perl/lib.pl
/tools/libs/sh/lib.sh

/tools/scripts/bootcheck
/tools/scripts/bootcheck.sh
/tools/scripts/grub1-config
/tools/scripts/grub1-config.sh
/tools/scripts/grub2-config
/tools/scripts/grub2-config.sh
/tools/scripts/mkiso-grub1
/tools/scripts/mkiso-grub1.sh
/tools/scripts/mkiso-grub2
/tools/scripts/mkiso-grub2.sh

/image.iso

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*

